body{
background-color: black;
color: orange;
padding-left: 50px;
}

h2{
font-weight: bold; 
font-size: 50px;
}

.heading{
font-size: 50px;
}

.popular{
font-size: 30px;
}

.bar:hover{
    fill:darkorange;
}